# MinIO
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123
MINIO_BUCKET_RAW=olist-raw
MINIO_BUCKET_PROCESSED=olist-processed

# Postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=olistdb
POSTGRES_USER=olist
POSTGRES_PASSWORD=olistpw
